 /* Model & Video Screens */
 #app-container {
     top: 0;
     left: 0;
     width: 100%;
     position: absolute;
     height: 100%;
     overflow:hidden;
     z-index: 99;
     transform: scale(1);
 }
 

 #app-container.revealed{
    opacity: 0;
    transition: .5s;
    pointer-events: none;
 }
 body{overflow: hidden;width: 100%;height: 100%;}

 .block {
     position: absolute;
     background-repeat: no-repeat;
     background-position: center;
     background-size: contain;
 }

 model-viewer {
    --progress-bar-color: none;
    --loader-background-color: transparent;
  }

 .background {
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: #262626;
 }

 .background::after {
     content: "";
     width: 100%;
     height: 100%;
     position: absolute;
     background-size: auto 110%;
     opacity: 1;
     mix-blend-mode: multiply;
      background-position-y: 150%;
     background-position-x: -100px;
     background-image: url("./assets/background.jpg");
 }
*{
    box-sizing: border-box;
}
 h1 {
     width: 80%;
     left: 10%;
     top: 8%;
     font-size: 6vw;
     text-align: center;
     font-family: 'helvetica', sans-serif;
     font-weight: normal;
     color: rgb(189, 189, 189);
 }

 span{font-weight:600}

 .brand-logo {
    filter: invert(1);
     width: 70%;
     height: 10%;
     top: 0%;
     left: 15%;
     background-image: url("./assets/volvo.svg");
 }

 /* Model Experience */
 model-viewer {
     width: 100%;
      height: 70%;
     top: 23%;
     left: 0%;
      overflow: hidden;
 }

 #button1{
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 100px;
    background-size: 50% auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.672);
     background-image: url("./assets/rotation.png");
    bottom: 20px;
    left: 20px;
    border: none;
    z-index: 3330000;
    filter:invert(1);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }

 .controls {
     display: flex;
     justify-content: space-around;
     width: 80%;
     left: 10%;
     bottom: 31%;
     transform: scale(.75);
 }

 .controls button {
     width: 35px;
     height: 35px;
     border-radius: 35px;
     border: .1px solid rgba(160, 160, 160, 0.111)
 }

 #model-1{background-color:#abbccf}
 #model-2{background-color:#b5ad42}
 #model-3{background-color:#474747}
 #model-4{background-color:#ffffff}

 #ar-button {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 

     background-color: rgba(95, 95, 95, 0.639);
     left: 50%;
     transform: translateX(-50%) scale(.8);
     white-space: nowrap;
     top: 3%;
     padding: 0px;
     font-family: Roboto Regular, Helvetica Neue, sans-serif;
     font-size: 14px;
     border-radius: 10px;
     height: 33px;
     border: none;
     text-align: center;
     width: 150px;
     color: rgb(220, 220, 220);
     position: absolute;
 }
a-scene{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
 /* Video Experience */
 #custom-modal {
     top: 50%;
     width: 80%;
     left: 50%;
     transform: translate(-50%, -50%);
      padding: 20px;
      border-radius: 5px;
      z-index: 999999999;
     text-align: center;
     color: rgb(229, 229, 229);
     font-family: 'Barlow', sans-serif;
 }

 #custom-modal h2 {
     font-size: 20px;
     margin-bottom: 10px;
 }

 .custom-button {
     padding: 10px 20px;
     margin: 10px;
     background-color: rgb(81, 63, 246);
     color: #fff;
     border: none;
     border-radius: 5px;
     font-size: 16px;
     font-family: 'Barlow', sans-serif;
 }